{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style='text-align: center;'>Categories</h2>


    {% for category in categories %}
        <a class='category' href="{% url 'category_page' category.id %}">
            <div class=category>
                <li>{{ category }}</li>
            </div></a>
    {% empty %}
        <li>No categories</li>
    {% endfor %}
    <a class='category' href="{% url 'category_page' 0 %}">
        <div class=category>
        <li>Products without category assigned</li>
        </div></a>
{% endblock %}